* {
    outline: none;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
}

.name {
    width: 8em;
    text-align: right;
    overflow-y: hidden;
    overflow-x: auto;
}

.name::-moz-scrollbar {
    display: none;
}

.name::-webkit-scrollbar {
    display: none;
}

.header {
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
}

.mainImg {
    width: 10em;
    height: 10em;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0.5em;
    object-fit: cover;
    object-position: top center;
}

#rbtn {
    background-color: #2e46b0;
    padding: 0.6em 1em;
    color: #fff;
    border-radius: 5px;
}

#name {
    overflow: auto;
}

#name::-moz-scrollbar {
    display: none;
}

#name::-webkit-scrollbar {
    display: none;
}

.changeName {
    overflow: auto;
}

.changeName::-moz-scrollbar {
    display: none;
}

.changeName::-webkit-scrollbar {
    display: none;
}

.swal2-input {
    margin: 0.5em auto !important;
    width: 90%;
}

.swal2-confirm:focus,
.swal2-deny:focus,
.swal2-cancel:focus,
.swal2-input:focus {
    box-shadow: 0 0 4px #212121 !important;
}

.swal2-input {
    border: 0px solid #212121 !important;
}

div:where(.swal2-container) div:where(.swal2-loader) {
    border-color: #212121 #fff;
}

@media only screen and (max-width:425px) {
    .header {
        font-size: 0.8em;
    }
}